[Desktop Entry]
Version=1.0
Name=APOLLON Core
Comment=APOLLON P2P Cryptocurrency
Comment[fr]=APOLLON, monnaie virtuelle cryptographique pair à pair
Comment[tr]=APOLLON, eşten eşe kriptografik sanal para birimi
Exec=apollon-qt %u
Terminal=false
Type=Application
Icon=apollon128
MimeType=x-scheme-handler/apollon;
Categories=Office;Finance;
StartupWMClass=Apollon-qt
