[Desktop Entry]
Encoding=UTF-8
Name=BDCASH
Comment=BDCASH P2P Cryptocurrency
Comment[fr]=BDCASH, monnaie virtuelle cryptographique pair à pair
Comment[tr]=BDCASH, eşten eşe kriptografik sanal para birimi
Exec=bdcash-qt %u
Terminal=false
Type=Application
Icon=bdcash128
MimeType=x-scheme-handler/bdcash;
Categories=Office;Finance;
