# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs/bdcash-protocol/project-colors.json

.vs/bdcash-protocol/v17/.suo

.vs/bdcash-protocol/v17/Browse.VC.db

.vs/bdcash-protocol/v17/ipch/AutoPCH/479d5982f8ff2227/CLIENTVERSION.ipch

.vs/bdcash-protocol/v17/workspaceFileList.bin

.vs/ProjectSettings.json

.vs/slnx.sqlite

.vs/VSWorkspaceState.json
