# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs/bdcash-protocol/v16/.suo

.vs/bdcash-protocol/v16/Browse.VC.db

.vs/bdcash-protocol/v16/Browse.VC.db-shm

.vs/bdcash-protocol/v16/Browse.VC.db-wal

.vs/bdcash-protocol/v16/Browse.VC.opendb

.vs/ProjectSettings.json

.vs/slnx.sqlite

.vs/VSWorkspaceState.json
