
## <summary>policy for bdcash</summary>


########################################
## <summary>
##	Transition to bdcash.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`apollon_domtrans',`
	gen_require(`
		type apollon_t, apollon_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, apollon_exec_t, apollon_t)
')


########################################
## <summary>
##	Execute bdcash server in the bdcash domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`apollon_initrc_domtrans',`
	gen_require(`
		type apollon_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, apollon_initrc_exec_t)
')


########################################
## <summary>
##	Search bdcash lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`apollon_search_lib',`
	gen_require(`
		type apollon_var_lib_t;
	')

	allow $1 apollon_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read bdcash lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`apollon_read_lib_files',`
	gen_require(`
		type apollon_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, apollon_var_lib_t, apollon_var_lib_t)
')

########################################
## <summary>
##	Manage bdcash lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`apollon_manage_lib_files',`
	gen_require(`
		type apollon_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, apollon_var_lib_t, apollon_var_lib_t)
')

########################################
## <summary>
##	Manage bdcash lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`apollon_manage_lib_dirs',`
	gen_require(`
		type apollon_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, apollon_var_lib_t, apollon_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a bdcash environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`apollon_admin',`
	gen_require(`
		type apollon_t;
		type apollon_initrc_exec_t;
		type apollon_var_lib_t;
	')

	allow $1 apollon_t:process { ptrace signal_perms };
	ps_process_pattern($1, apollon_t)

	apollon_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 apollon_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, apollon_var_lib_t)

')

