policy_module(bdcash, 1.100.1)

########################################
#
# Declarations
#

type apollon_t;
type apollon_exec_t;
init_daemon_domain(apollon_t, apollon_exec_t)

permissive apollon_t;

type apollon_initrc_exec_t;
init_script_file(apollon_initrc_exec_t)

type apollon_conf_t;
files_type(apollon_conf_t)

type apollon_var_lib_t;
files_type(apollon_var_lib_t)

type apollon_var_run_t;
files_type(apollon_var_run_t)

type apollon_port_t;
corenet_port(apollon_port_t)

########################################
#
# bdcash local policy
#
allow apollon_t self:process { fork };

allow apollon_t self:fifo_file rw_fifo_file_perms;
allow apollon_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(apollon_t, apollon_conf_t, apollon_conf_t)
manage_files_pattern(apollon_t, apollon_conf_t, apollon_conf_t)

manage_dirs_pattern(apollon_t, apollon_var_lib_t, apollon_var_lib_t)
manage_files_pattern(apollon_t, apollon_var_lib_t, apollon_var_lib_t)
files_var_lib_filetrans(apollon_t, apollon_var_lib_t, { dir file })

manage_dirs_pattern(apollon_t, apollon_var_run_t, apollon_var_run_t)
manage_files_pattern(apollon_t, apollon_var_run_t, apollon_var_run_t)

sysnet_dns_name_resolve(apollon_t)
corenet_all_recvfrom_unlabeled(apollon_t)

allow apollon_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(apollon_t)
corenet_tcp_sendrecv_generic_node(apollon_t)
corenet_tcp_sendrecv_all_ports(apollon_t)
corenet_tcp_bind_generic_node(apollon_t)

gen_require(`
    type apollon_port_t;
')
allow apollon_t apollon_port_t:tcp_socket name_bind;

gen_require(`
    type apollon_port_t;
')
allow apollon_t apollon_port_t:tcp_socket name_connect;

domain_use_interactive_fds(apollon_t)

files_read_etc_files(apollon_t)

miscfiles_read_localization(apollon_t)

sysnet_dns_name_resolve(apollon_t)

allow apollon_t apollon_exec_t:file execute_no_trans;
allow apollon_t self:process setsched;
corecmd_exec_ls(apollon_t)
corenet_tcp_connect_http_port(apollon_t)
dev_read_urand(apollon_t)
fs_getattr_xattr_fs(apollon_t)
kernel_read_system_state(apollon_t)
