[Unit]
Description=BDCASH's distributed currency daemon
After=network.target

[Service]
User=bdcash
Group=bdcash

Type=forking
PIDFile=/var/lib/bdcashd/bdcashd.pid

ExecStart=/usr/bin/bdcashd -daemon -pid=/var/lib/bdcashd/bdcashd.pid \
          -conf=/etc/bdcash/bdcash.conf -datadir=/var/lib/bdcashd

ExecStop=-/usr/bin/bdcash-cli -conf=/etc/bdcash/bdcash.conf \
         -datadir=/var/lib/bdcashd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
